node_red_flow
[
    {
        "id": "392fc6cc.804b0a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8add0bc8.b6b618",
        "type": "mqtt in",
        "z": "392fc6cc.804b0a",
        "name": "",
        "topic": "home/dht11/temperature",
        "qos": "2",
        "broker": "b7b39f48.379d1",
        "x": 158,
        "y": 78,
        "wires": [
            [
                "866f9063.aaaf4",
                "da1f5c56.3639e"
            ]
        ]
    },
    {
        "id": "372e1778.e33058",
        "type": "influxdb out",
        "z": "392fc6cc.804b0a",
        "influxdb": "4cfa13d.2a41dec",
        "name": "random",
        "measurement": "bigdata",
        "precision": "",
        "retentionPolicy": "",
        "x": 1088,
        "y": 125,
        "wires": []
    },
    {
        "id": "3b8b370d.b55f58",
        "type": "mqtt in",
        "z": "392fc6cc.804b0a",
        "name": "",
        "topic": "home/dht11/humidity",
        "qos": "2",
        "broker": "b7b39f48.379d1",
        "x": 135,
        "y": 140,
        "wires": [
            [
                "866f9063.aaaf4"
            ]
        ]
    },
    {
        "id": "4234509d.e0b91",
        "type": "debug",
        "z": "392fc6cc.804b0a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 928.0000152587891,
        "y": 207.00000190734863,
        "wires": []
    },
    {
        "id": "ffff850c.81bd18",
        "type": "join",
        "z": "392fc6cc.804b0a",
        "name": "jointemp_hum",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 624,
        "y": 138,
        "wires": [
            [
                "4808c1ec.3e8c8",
                "a2ecf9d7.4bea78"
            ]
        ]
    },
    {
        "id": "4808c1ec.3e8c8",
        "type": "function",
        "z": "392fc6cc.804b0a",
        "name": "temp_hum",
        "func": "return {payload:{name:\"dht11\",temp:msg.payload[\"home/dht11/temperature\"],hum:msg.payload[\"home/dht11/humidity\"],dist:msg.payload[\"home/sr04/distance\"]}};",
        "outputs": 1,
        "noerr": 0,
        "x": 836,
        "y": 129,
        "wires": [
            [
                "372e1778.e33058",
                "4234509d.e0b91",
                "917a0028.3d9a4"
            ]
        ]
    },
    {
        "id": "866f9063.aaaf4",
        "type": "json",
        "z": "392fc6cc.804b0a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 409,
        "y": 139,
        "wires": [
            [
                "ffff850c.81bd18"
            ]
        ]
    },
    {
        "id": "3539e7f7.8868e8",
        "type": "mqtt in",
        "z": "392fc6cc.804b0a",
        "name": "",
        "topic": "home/sr04/distance",
        "qos": "2",
        "broker": "b7b39f48.379d1",
        "x": 137.0142059326172,
        "y": 214.00567626953125,
        "wires": [
            [
                "866f9063.aaaf4",
                "dd629a45.916f38",
                "7ce2da03.3e4ea4"
            ]
        ]
    },
    {
        "id": "afb4003a.14a81",
        "type": "mqtt out",
        "z": "392fc6cc.804b0a",
        "name": "",
        "topic": "ha/relay1",
        "qos": "2",
        "retain": "",
        "broker": "b7b39f48.379d1",
        "x": 777.7500228881836,
        "y": 643.5000200271606,
        "wires": []
    },
    {
        "id": "3aac6b4c.e80474",
        "type": "mqtt in",
        "z": "392fc6cc.804b0a",
        "name": "",
        "topic": "ha/door",
        "qos": "2",
        "broker": "b7b39f48.379d1",
        "x": 113,
        "y": 381,
        "wires": [
            [
                "4bfc67c2.2346c8"
            ]
        ]
    },
    {
        "id": "4bfc67c2.2346c8",
        "type": "json",
        "z": "392fc6cc.804b0a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 287,
        "y": 380,
        "wires": [
            [
                "fee88687.6466b8"
            ]
        ]
    },
    {
        "id": "fa33a0cb.70c45",
        "type": "function",
        "z": "392fc6cc.804b0a",
        "name": "doorsense",
        "func": "var ves;\nif(msg.payload[\"ha/door\"]===0)\n{\n    msg.payload=\"ON\"\n}\nelse if(msg.payload[\"ha/door\"]===1)\nmsg.payload=\"OFF\"\nelse\nmsg.payload=\"OFF\"\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "x": 772,
        "y": 378,
        "wires": [
            [
                "bd8e6928.770918",
                "d12de0f5.9ab8a"
            ]
        ]
    },
    {
        "id": "9e1daa41.524348",
        "type": "mqtt out",
        "z": "392fc6cc.804b0a",
        "name": "",
        "topic": "ha/relay2",
        "qos": "2",
        "retain": "",
        "broker": "b7b39f48.379d1",
        "x": 783.7500228881836,
        "y": 712.000020980835,
        "wires": []
    },
    {
        "id": "de00d6c6.e75e08",
        "type": "mqtt in",
        "z": "392fc6cc.804b0a",
        "name": "",
        "topic": "ha/vessel",
        "qos": "2",
        "broker": "b7b39f48.379d1",
        "x": 117,
        "y": 476,
        "wires": [
            [
                "908aed5b.749bd",
                "e8170d0f.f6ea1"
            ]
        ]
    },
    {
        "id": "a2ecf9d7.4bea78",
        "type": "debug",
        "z": "392fc6cc.804b0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 713.0000152587891,
        "y": 209.00000190734863,
        "wires": []
    },
    {
        "id": "fee88687.6466b8",
        "type": "join",
        "z": "392fc6cc.804b0a",
        "name": "door_combine",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 499,
        "y": 380,
        "wires": [
            [
                "fa33a0cb.70c45"
            ]
        ]
    },
    {
        "id": "908aed5b.749bd",
        "type": "switch",
        "z": "392fc6cc.804b0a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "475",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "485",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 343,
        "y": 482,
        "wires": [
            [
                "78518e9d.cc82e"
            ],
            []
        ]
    },
    {
        "id": "3c7cecc0.4a2144",
        "type": "function",
        "z": "392fc6cc.804b0a",
        "name": "vesselpop",
        "func": "if(msg.payload[\"ha/vessel\"]<=475 && msg.payload[\"ha/door\"]===\"ON\") msg={payload:\"ON\"};\nelse\nmsg=null\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 746,
        "y": 493,
        "wires": [
            [
                "3e9c1cfc.7a5034",
                "2844cad6.b8c4b6"
            ]
        ]
    },
    {
        "id": "78518e9d.cc82e",
        "type": "join",
        "z": "392fc6cc.804b0a",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 491,
        "wires": [
            [
                "3c7cecc0.4a2144",
                "96952e56.8ef3b"
            ]
        ]
    },
    {
        "id": "2844cad6.b8c4b6",
        "type": "trigger",
        "z": "392fc6cc.804b0a",
        "op1": "Your chilli Popcorn Is getting ready please wait for a minute",
        "op2": "congratulations Popcorn Is ready !! guten appetit",
        "op1type": "str",
        "op2type": "str",
        "duration": "40",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "Alert",
        "x": 933.0000152587891,
        "y": 520.0000076293945,
        "wires": [
            [
                "f3cf294c.01dfc8",
                "ccc52498.3ba658"
            ]
        ]
    },
    {
        "id": "5ddae0f6.59a7d",
        "type": "ui_button",
        "z": "392fc6cc.804b0a",
        "name": "on",
        "group": "411694fe.23e8dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "OVERRIDE",
        "x": 129,
        "y": 801,
        "wires": [
            [
                "9c743d8f.becbb"
            ]
        ]
    },
    {
        "id": "92f72ab2.b1eb28",
        "type": "ui_button",
        "z": "392fc6cc.804b0a",
        "name": "off",
        "group": "411694fe.23e8dc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "OVERRIDE",
        "x": 129,
        "y": 866,
        "wires": [
            [
                "9c743d8f.becbb"
            ]
        ]
    },
    {
        "id": "5ecf456d.b4669c",
        "type": "ui_button",
        "z": "392fc6cc.804b0a",
        "name": "",
        "group": "7593be6e.740f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Auto",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "A",
        "payloadType": "str",
        "topic": "OVERRIDE",
        "x": 128,
        "y": 924,
        "wires": [
            [
                "9c743d8f.becbb"
            ]
        ]
    },
    {
        "id": "9c743d8f.becbb",
        "type": "function",
        "z": "392fc6cc.804b0a",
        "name": "override func",
        "func": "var overrideMain = global.get('overrideMain');\nvar msg1;\nif (msg.topic.includes(\"OVERRIDE\") || msg.topic.includes(\"lamp\"))  {\n    if (msg.payload==\"1\") overrideMain=\"ON\";\n    if (msg.payload==\"0\") overrideMain=\"OFF\";\n    if (msg.payload==\"A\") overrideMain=\"AUTO\";\n    if (msg.payload==\"2\") overrideMain=\"LON\";\n    if (msg.payload==\"3\") overrideMain=\"LOF\";\n}\nglobal.set('overrideMain',overrideMain);\n\nnode.status({fill:\"red\",shape:\"ring\",text:\"Override: \"+overrideMain});    \n\n//if (msg.payload==\"LLON\") msg.payload=\"ON\";\n//if (msg.payload==\"LLOFF\") msg.payload=\"OFF\";\n    \nif (overrideMain==\"ON\") \n{  msg.payload=\"ON\"\n   return [msg,null];\n}\nif (overrideMain==\"OFF\") \n{\n    msg.payload=\"OFF\"\n    return [msg,null];\n}\nif (overrideMain==\"LON\") \n{   msg.payload=\"ON\"\n    return [null,msg];\n}\nif (overrideMain==\"LOF\") \n{   msg.payload=\"OFF\"\n    return [null,msg];\n}\nreturn [msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 499,
        "y": 796,
        "wires": [
            [
                "9e1daa41.524348",
                "afb4003a.14a81",
                "29139e9.1615262",
                "b5eabff1.8a73e"
            ],
            [
                "6286e620.044e18",
                "1d4d4d4b.1b65d3"
            ]
        ]
    },
    {
        "id": "6286e620.044e18",
        "type": "mqtt out",
        "z": "392fc6cc.804b0a",
        "name": "",
        "topic": "ha/relay1",
        "qos": "2",
        "retain": "",
        "broker": "b7b39f48.379d1",
        "x": 762,
        "y": 942,
        "wires": []
    },
    {
        "id": "1d4d4d4b.1b65d3",
        "type": "debug",
        "z": "392fc6cc.804b0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 766.0000076293945,
        "y": 900.0000114440918,
        "wires": []
    },
    {
        "id": "f3cf294c.01dfc8",
        "type": "ui_text",
        "z": "392fc6cc.804b0a",
        "group": "7593be6e.740f",
        "order": 4,
        "width": "9",
        "height": "2",
        "name": "display",
        "label": "Celexon",
        "format": "{{msg.payload | uppercase }}",
        "layout": "row-spread",
        "x": 1111.0000190734863,
        "y": 580.0000095367432,
        "wires": []
    },
    {
        "id": "29139e9.1615262",
        "type": "debug",
        "z": "392fc6cc.804b0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 777.7500228881836,
        "y": 762.0000228881836,
        "wires": []
    },
    {
        "id": "bd8e6928.770918",
        "type": "rbe",
        "z": "392fc6cc.804b0a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1141,
        "y": 372,
        "wires": [
            [
                "9c743d8f.becbb"
            ]
        ]
    },
    {
        "id": "3e9c1cfc.7a5034",
        "type": "debug",
        "z": "392fc6cc.804b0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 969,
        "y": 442,
        "wires": []
    },
    {
        "id": "92e8b6ff.6cabb8",
        "type": "ui_button",
        "z": "392fc6cc.804b0a",
        "name": "lamp on",
        "group": "411694fe.23e8dc",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "lamp on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "OVERRIDE",
        "x": 133,
        "y": 668,
        "wires": [
            [
                "9c743d8f.becbb"
            ]
        ]
    },
    {
        "id": "e9440905.194638",
        "type": "ui_button",
        "z": "392fc6cc.804b0a",
        "name": "lamp off",
        "group": "411694fe.23e8dc",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "lamp off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "OVERRIDE",
        "x": 135,
        "y": 732,
        "wires": [
            [
                "9c743d8f.becbb"
            ]
        ]
    },
    {
        "id": "8de4c0bd.4ac7d",
        "type": "ui_date_picker",
        "z": "392fc6cc.804b0a",
        "name": "Date",
        "label": "Date",
        "group": "33faf62c.09f3da",
        "order": 2,
        "width": "9",
        "height": "1",
        "passthru": true,
        "topic": "date",
        "x": 972.0000190734863,
        "y": 690.0000114440918,
        "wires": [
            []
        ]
    },
    {
        "id": "d12de0f5.9ab8a",
        "type": "switch",
        "z": "392fc6cc.804b0a",
        "name": "only on messages",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 733,
        "y": 431,
        "wires": [
            [
                "78518e9d.cc82e"
            ]
        ]
    },
    {
        "id": "96952e56.8ef3b",
        "type": "debug",
        "z": "392fc6cc.804b0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 194,
        "y": 567,
        "wires": []
    },
    {
        "id": "ccc52498.3ba658",
        "type": "ui_audio",
        "z": "392fc6cc.804b0a",
        "name": "",
        "group": "33faf62c.09f3da",
        "voice": "en-GB",
        "always": "",
        "x": 1115.0000190734863,
        "y": 511.00000762939453,
        "wires": []
    },
    {
        "id": "72522ff8.0b20b",
        "type": "ui_gauge",
        "z": "392fc6cc.804b0a",
        "name": "popcorn_level",
        "group": "33faf62c.09f3da",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Popcorn Level",
        "label": "percent",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "x": 726,
        "y": 260,
        "wires": []
    },
    {
        "id": "dd629a45.916f38",
        "type": "range",
        "z": "392fc6cc.804b0a",
        "minin": "10",
        "maxin": "0",
        "minout": "0",
        "maxout": "100",
        "action": "roll",
        "round": false,
        "property": "payload",
        "name": "limit_dist",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "72522ff8.0b20b"
            ]
        ]
    },
    {
        "id": "e8170d0f.f6ea1",
        "type": "debug",
        "z": "392fc6cc.804b0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 416,
        "y": 629,
        "wires": []
    },
    {
        "id": "da1f5c56.3639e",
        "type": "debug",
        "z": "392fc6cc.804b0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 388.1000061035156,
        "y": 73,
        "wires": []
    },
    {
        "id": "917a0028.3d9a4",
        "type": "debug",
        "z": "392fc6cc.804b0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 590.1000366210938,
        "y": 76,
        "wires": []
    },
    {
        "id": "7ce2da03.3e4ea4",
        "type": "debug",
        "z": "392fc6cc.804b0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 525.1428833007812,
        "y": 310,
        "wires": []
    },
    {
        "id": "b5eabff1.8a73e",
        "type": "mqtt out",
        "z": "392fc6cc.804b0a",
        "name": "",
        "topic": "ha/red",
        "qos": "2",
        "retain": "",
        "broker": "b7b39f48.379d1",
        "x": 1067.5000305175781,
        "y": 799.0000243186951,
        "wires": []
    },
    {
        "id": "e750ba59.538bc8",
        "type": "mqtt out",
        "z": "392fc6cc.804b0a",
        "name": "",
        "topic": "ha/green",
        "qos": "2",
        "retain": "",
        "broker": "b7b39f48.379d1",
        "x": 533.75,
        "y": 974,
        "wires": []
    },
    {
        "id": "b7b39f48.379d1",
        "type": "mqtt-broker",
        "z": "",
        "name": "dht11",
        "broker": "192.168.4.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4cfa13d.2a41dec",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "celexon",
        "name": "celexon",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "411694fe.23e8dc",
        "type": "ui_group",
        "z": "",
        "name": "Mannual Override operation (RISK)",
        "tab": "e675c67d.c71ba8",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "7593be6e.740f",
        "type": "ui_group",
        "z": "",
        "name": "Automatic mode",
        "tab": "e675c67d.c71ba8",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "33faf62c.09f3da",
        "type": "ui_group",
        "z": "",
        "name": "Display",
        "tab": "e675c67d.c71ba8",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "e675c67d.c71ba8",
        "type": "ui_tab",
        "z": "",
        "name": "pop",
        "icon": "fa fa-coffee",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
